// Define variables for your color scheme

// For example:
$red: #FF000D;
$blue: #0D6EFD;
$yellow: #FFD800;
$orange: #F4631E;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dog-red: #b92429;
$dog-green: #008080;
$dog-peach: #ff7b60;
$dog-orange: #f4631e;
$dog-beige: #FFEABF;
