// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFD800;
$orange: #F4631E;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$quiz-dog-red: #9e0606;
