// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=IBM+Plex+Sans&family=Poppins:wght@200&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=DM+Sans:wght@700&family=IBM+Plex+Sans&family=Monofett&family=Poppins:wght@200&family=Roboto+Flex:opsz@8..144&family=Zilla+Slab:ital,wght@0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=DM+Sans:wght@700&family=IBM+Plex+Sans&family=Monofett&family=Poppins:wght@200&family=Roboto+Flex:opsz@8..144&family=Zilla+Slab:ital,wght@0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=DM+Sans:wght@700&family=IBM+Plex+Sans&family=Monofett&family=Poppins:wght@200&family=Raleway:wght@700&family=Roboto+Flex:opsz@8..144&family=Zilla+Slab:ital,wght@0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=DM+Sans:wght@700&family=IBM+Plex+Sans&family=Monofett&family=Mulish:wght@500&family=Poppins:wght@200&family=Raleway:wght@700&family=Roboto+Flex:opsz@8..144&family=Zilla+Slab:ital,wght@0,600;1,500&display=swap');


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Lovelo-Black";
  src: font-url('Lovelo-Black.eot');
  src: font-url('Lovelo-Black.eot?#iefix') format('embedded-opentype'),
       font-url('Lovelo-Black.woff') format('woff'),
       font-url('Lovelo-Black.ttf') format('truetype')
}
$lovelo: "Lovelo-Black";

@font-face {
  font-family: "Nourd";
  src: font-url('nourd-regular.eot');
  src: font-url('nourd-regular?#iefix') format('embedded-opentype'),
       font-url('nourd-regular.woff') format('woff'),
       font-url('nourd-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nourd";
  src: font-url('nourd-bold.eot');
  src: font-url('nourd-bold?#iefix') format('embedded-opentype'),
       font-url('nourd-bold.woff') format('woff'),
       font-url('nourd-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
$nourd: "Nourd";

// Define fonts for body and headers
$body-font: $nourd;
$headers-font: $lovelo;
