
.banner-image-about-us {
  background-image: url("about_us/9.jpg");
}

.title-about-us {
  color: $dog-peach;
  -webkit-text-stroke: 2px #973a27;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.quizzing-dogs-section img {

  display: none;
  z-index: 0;

  @include media(tablet) {
    display: flex;
    width: 80%;
  }
}


.quizzing-dogs-text-container {
  margin-right: -1rem;
  z-index: 1;
  position: relative;
}

.quizzing-dogs-image-container {
  margin-left: -1rem;
}
