// EXTRA STYLINGS FOR CARDS ON THE ADMIN PAGE

// VENUE CARDS
.admin-card-venue {
  position: relative;
  margin-bottom: 1.5rem;
  width: 300px;
}

.admin-cards-buttons {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: -2rem;
  position: absolute;

  a {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
  }
}

.top-buttons {
  margin: 5px;
}
