.admin-card-venue {
  position: relative;
  margin-bottom: 1.5rem;
}

.admin-cards-buttons {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: -2rem;
  position: absolute;

  a {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
  }
}

.btn-create-venue {
  margin: 10px 0;
}
