
.banner-image-charity {
  background-image: url('charity/charity_header.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-position: center center;
}

.title-charity {
  color: $yellow;
}

.charity-logo {
  width: 8rem;
  border-radius: 10px;

  @include media(tablet) {
    width: 12rem;
  }

  @include media(laptop) {
    width: 14rem;
  }
}

.lightbulb-logo-charity {
  object-fit: cover;
  margin-top: -2rem;

  @include media(mobile) {
    margin-top: -3rem;
  }

  @include media(tablet) {
    margin-top: -4rem;
  }

  @include media(laptob) {
    margin-top: -5rem;
  }

}
