

.banner-image-corporate {
  background-image: url("corporate/corporate_header.jpg"), linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  background-position: center center;
}

.title-corporate {
  color: $yellow;
}


.company-logos-container {
  width: 100%; /* Ensure the container spans the full width of its parent */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent logos from wrapping to the next line */
  background-color: white;

  img {
    width: 10rem;
    height: 5rem;
    object-fit: cover;
  }
}
