

.banner {
  background-image: url('banner2.png'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-size: cover;
  background-position: center;
  height: 100vh;
  align-items: center;
  width: 100%;
}

.logo {
  width: 20rem;
  // padding-top: 1rem;
}

.header-home-top {
  color: white;
  border: 4px solid white;
  font-size: 3rem;
  width: fit-content;
  padding: 0 20px;
}

.homepage-body {
  color: white;
  font-weight: bold;
}


.home-testimonial-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 4px solid black;

  p {
    margin: 0;
  }

  .avatar {
    margin-left: 0.5rem;
  }
}
.carousel {
  width: 60%;
  height: auto;
}

.prova {
  font-family: $my-font;
}
