// Specific CSS for your home-page
.container-home-top {
  display: flex;
  height: 100vh;
}

.banner {
  background-image: url('banner2.png');
  background-size: cover;
  background-position: center;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.logo {
  width: 20rem;
}

.header-home-top {
  color: white;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  font-size: 5rem;
}

.banner-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .banner-info-card {
    color: $quiz-dog-red;
    background-color: white;
    margin: 0rem 1rem 0rem 1rem;
    text-align: center;
    border-radius: 10px;

  }
}
