
// LANDING PAGE CAROUSEL
#home-page-carousel {
  position: relative;
  display: flex;
}

.logo {
  width: 20rem;
}

.carousel-image {
  height: 95vh;
  background-size: cover;
  background-position: center;
}

.bg-img-1 {
  background-image: url('landing_page/main_carousel/14-mobile.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

  @include media(tablet) {
    background-image: url('landing_page/main_carousel/14.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
}

.bg-img-2 {
  background-image: url('landing_page/main_carousel/15-mobile.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

  @include media(tablet) {
    background-image: url('landing_page/main_carousel/15.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
}

.bg-img-3 {
  background-image: url('landing_page/main_carousel/16-mobile.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

  @include media(tablet) {
    background-image: url('landing_page/main_carousel/16.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
}

.bg-img-4 {
  background-image: url('landing_page/main_carousel/17-mobile.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

  @include media(tablet) {
    background-image: url('landing_page/main_carousel/17.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
}

.bg-img-5 {
  background-image: url('landing_page/main_carousel/18-mobile.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

  @include media(tablet) {
    background-image: url('landing_page/main_carousel/18.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
}

.bg-img-6 {
  background-image: url('landing_page/main_carousel/19-mobile.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

  @include media(tablet) {
    background-image: url('landing_page/main_carousel/19.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
}

.bg-img-7 {
  background-image: url('landing_page/main_carousel/20-mobile.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

  @include media(tablet) {
    background-image: url('landing_page/main_carousel/20.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
}

.bg-img-8 {
  background-image: url('landing_page/main_carousel/21-mobile.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

  @include media(tablet) {
    background-image: url('landing_page/main_carousel/21.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
}

.bg-img-9 {
  background-image: url('landing_page/main_carousel/22-mobile.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

  @include media(tablet) {
    background-image: url('landing_page/main_carousel/22.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  }
}

// three buttons over carousel
.home-page-buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  flex-grow: 0;
  height: 10rem;


  a {
    text-decoration: none;
    color: #ffff;
  }
}



// Category cards for QUIZZING, KARAOKE and ABOUT US

.section-title {
  @include media(tablet) {
    text-align: center;
  }

}

.card-img {
  border-radius: $br;
}

.category-card {
  margin: 0;

  @include media(tablet) {
    margin: 0 2rem;
  }
}

.category-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.carousel-item a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
 }

.card-title {
  padding: 5px 10px 0px;
  background-color: $yellow;
  border-radius: 5px;
  font-family: $lovelo;
}

.karaoke-card {
  .card-title {
    background-color: $orange;
  }
}

.about-card {
  .card-title {
    background-color: $dog-peach;
    text-align: center;
  }
}
// CAROUSEL --> DISPLAY THREE CARDS AT THE SAME TIME

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: center;
}

// CAROUSEL CONTROLS

// Makes controls pop more
.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  width: 10%;
}

.custom-carousel-control .carousel-control-prev-icon,
.custom-carousel-control .carousel-control-next-icon {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
}

.yellow-carousel-control .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFD800' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.yellow-carousel-control .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFD800' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.orange-carousel-control .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F4631E' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.orange-carousel-control .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23F4631E' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.peach-carousel-control .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7b60' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.peach-carousel-control .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7b60' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

// Changes position of carousel controls depending on screen size so that position on card is consistent
.carousel-control-prev {
  left: 0.5rem;

  @include media(tablet) {
    left: 0rem;
  }

  @include media(laptop) {
    left: -1rem;
  }

  @include media(desktop) {
    left: 2.5rem;
  }

  @include media(large-desktop) {
    left: 6rem;
  }
}

.carousel-control-next {
  right: 0.5rem;

  @include media(tablet) {
    right: 0rem;
  }

  @include media(laptop) {
    right: -1rem;
  }

  @include media(desktop) {
    right: 2.5rem;
  }

  @include media(large-desktop) {
    right: 6rem;
  }
}


// KARAOKE CAROUSEL WITH TWO CARDS

#karaoke-categories-carousel .carousel-inner .carousel-item.active,
#karaoke-categories-carousel .carousel-inner .carousel-item-next,
#karaoke-categories-carousel .carousel-inner .carousel-item-prev,
#about-categories-carousel .carousel-inner .carousel-item.active,
#about-categories-carousel .carousel-inner .carousel-item-next,
#about-categories-carousel .carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item.active > div:first-child {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item.active > div:nth-child(1),
  .carousel-inner .carousel-item.active > div:nth-child(2) {
    display: flex;
  }
}

@media (min-width: 768px) {
  .karaoke-cards {
    justify-content: space-around;
  }

  #karaoke-categories-carousel .carousel-control-prev, #karaoke-categories-carousel .carousel-control-next,
  #about-categories-carousel .carousel-control-prev, #about-categories-carousel .carousel-control-next {
    display: none;
  }
}


// CONTACT US

.contact-us-link {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.social-media {
  margin-top: -0.5rem;
  display: flex;
  justify-content: center;
}

.social-media-img {
  width: 5rem;

  @include media(tablet) {
    width: 6rem;
  }
}
