
// CAROUSEL
#home-page-carousel {
  position: relative;
  display: flex;
}

.bg-img-1 {
  background-image: url('banner.png'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.bg-img-2 {
  background-image: url('banner1.png'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.bg-img-3 {
  background-image: url('banner2.png'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.carousel-image {
  height: 100vh;
  // background: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 20rem;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // margin: auto;
}

.home-page-buttons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  flex-grow: 0;
  height: 10rem;
}

// .banner {
//   background-image: url('banner2.png'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
//   background-size: cover;
//   background-position: center;
//   height: 100vh;
//   align-items: center;
//   width: 100%;
// }



.header-home-top {
  color: white;
  border: 4px solid white;
  font-size: 3rem;
  width: fit-content;
  padding: 0 20px;
}

.homepage-body {
  color: white;
  font-weight: bold;
}

.quizzing-category-cards a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
