
.banner-image-private {
  background-image: url('private/6.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-position: center center;
}

// .private-virtual {
//   position: relative;
//   z-index: 0;
// }

.private-dogs-image {
  width: 100%;
  height: auto;
  margin-top: -1rem;
}
