
.banner-image-private {
  background-image: url('private/6.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-position: center center;
}

.lightbulb-image-private {
  max-width: 100px;

  @include media(mobile) {
    max-width: 200px;
  }

  @include media(laptop) {
    max-width: 250px;
  }

  @include media(desktop) {
    max-width: 300px;
  }
}

.lighbulb-image-private-container {
  margin-top: -2rem;
  z-index: 1;
  margin-bottom: -1rem;

  @include media(mobile) {
    margin-top: -9rem;
    margin-bottom: -2rem;
  }

  @include media(laptop) {
    margin-top: -13rem;
  }

  @include media(desktop) {
    margin-top: -16rem;
  }
}

.private-dogs-image {
  width: 100%;
  height: auto;
  margin-top: -1rem;

  @include media(mobile) {
    margin-top: -2rem;
  }

  @include media(laptop) {
    margin-top: -3rem;
  }

  @include media(desktop) {
    margin-top: -3rem;
  }
}
