.banner-container {
  position: relative;
}

.punters-text-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  flex-grow: 0;

}

.banner-image-venues {
  background-image: url('banner1.png'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 60vh;
  background-size: cover;
  background-position: center;
  // position: relative;
}

.container-venues-map {
  display: flex;
  padding: 2.5rem;
}

#map {
  height: 100vh;
  width: 70%;
  height: 300px;
  border-radius: 5px;
  top: 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  flex-grow: 1;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .banner-image-venues {
    background-image: none;
    background-color: $yellow;
  }

  .banner-container {
    margin-bottom: 9rem;
  }
  #map {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.category-img {
  border-radius: 5px;
}

.category-image {
  position: relative;
  // height: 0;
  padding-bottom: 56.25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    height: 200px;
  }
}

.card-title {
  position: absolute;
  bottom: 10px;
  padding: 5px 10px 0px;
  background-color: $yellow;
  // margin: 0 5px 10px 0;
  border-radius: 5px;
  font-family: $lovelo;
}




// box shadow box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
