// LAYOUT FOR PAGE BANNERS
.banner-container {
  position: relative;
  margin-bottom: 1rem;
}

.page-banner {
  height: 12rem;
  background-size: cover;

  @include media(tablet) {
    height: 16rem;
  }

  @include media(laptop) {
    height: 20rem;
  }

  @include media(desktop) {
    height: 24rem;
  }

  @include media(large-desktop) {
    height: 32rem;
  }

  @include media(extra-large-desktop) {
    height: 36rem;
  }
}

.page-title {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  font-size: 3rem;

  @include media(laptop) {
    top: 2.5rem;
    left: 2rem;
    font-size: 4rem;
  }

  @include media(large-desktop) {
    top: 2.5rem;
    left: 2rem;
    font-size: 6rem;
  }
}
