a {
  text-decoration: none;
  color: $dog-text;
}

p {
  margin-bottom: 0;
  text-align: left;
  color: $dog-text;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.empty-line {
  margin-bottom: 1rem;
}

.empty-space-responsive {
  height: 1rem;

  @include media(tablet) {
    height: 2rem;
  }
}
