

<div class="banner">
  <div class="container homepage-body">
    <div class="row justify-content-center">
      <div class="col-10 d-flex justify-content-center">
        <%= image_tag("logo.png", class: "logo mb-1 mt-5 img-fluid", alt: "quizmaster logo") %>
      </div>
    </div>
    <div class="row home-page-buttons justify-content-center mt-3">
      <div class="col-md-12 col-sm-12 d-flex justify-content-center btn-block">
        <h5 class="button-quizdog-primary">FIND A QUIZ</h5>
      </div>
      <div class="col-md-12 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">START A QUIZ</h5>
      </div>
      <div class="col-md-12 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">HOST YOUR OWN</h5>
      </div>
    </div>
  </div>
</div>




    <div class="row home-page-buttons justify-content-center mt-3">
      <div class="col-md-2 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">PUBS</h5>
      </div>
      <div class="col-md-2 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">CORPORATE</h5>
      </div>
      <div class="col-md-2 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">CHARITY</h5>
      </div>
      <div class="col-md-2 col-sm-12 d-flex justify-content-center">
        <h5 class="button-quizdog-primary">PRIVATE EVENTS</h5>
      </div>
      <div class="col-md-2 col-sm-12 d-flex justify-content-center">
        <h5 class="prova button-quizdog-primary">VIRTUAL</h5>
      </div>
    </div>

  </div>
</div>


<%# <div class="row justify-content-evenly bg-success">
  <div class="col-3">
    <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

  <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div> %>

   <%# <div class="col-3">
     <div class="home-testimonial-card">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    <%# </div>
  </div>
</div> %>
