

<div class="container-home-top">
  <div class="banner">
    <div class="home-column-side">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    </div>
    <div class="home-column-center">
      <%= image_tag("logo.png", class: "logo", alt: "quizmaster logo") %>
      <h1 class="header-home-top">THE BEST QUIZ IN LONDON</h1>
    </div>
    <div class="home-column-side">
      <p> "Confident and proud to say that we've got the best quiz in Deptford." Gina, Manager at the Brookmill </p>
      <%= image_tag("gina.png", class: "avatar") %>
    </div>
  </div>
</div>
