<div class="container">
  <h1>
    Host Your Own – Access Quizdex
  </h1>
  <p>
  Above everything here at Quiz Dog, the thing we are most proud of is our amazing team of passionate quizzers.
  However, we understand that margins are tight at the minute and sometimes cost cutting is not preferred, but a necessity. Well, we have you covered.
  Quiz Dog offers access to Quiz Dex and a weekly quiz for half the price of a regular quiz. All you need to provide is a quizmaster. It couldn’t be easier.
  </p>
</div>
