<div class="banner-container">
  <div class="page-banner banner-image-live-piano">
    <h1 class="page-title title-karaoke-orange">LIVE PIANO KARAOKE</h1>
  </div>
</div>

<div class="container d-flex justify-content-left">
  <h1>GET YOUR KNEES UP AND STEP IN TIME!</h1>
</div>

<div class="container d-flex">
  <div class="text-bubble text-bubble-orange col-9">
    <p>We’ve got something really special for you here. A karaoke night with a difference.
      The Singalong Speakeasy is a night like no other. Our incredibly talented sight-
      reading pianist will play whatever you like for the most personal and memorable
      karaoke experience you’ll have. Guaranteed to descend into one enormous
      singalong by the end of the night.
    </p>
    <p class="empty-line"></p>
    <p>Please contact us for more info </p>
  </div>
  <div class="singing-mouth-container col-3">
    <%= image_tag "karaoke/26.png", class: "img-fluid singing-mouth" %>
  </div>
</div>

<hr class="dividing-line-black">

<p class="text-center">Please contact us for more information</p>

<div class="empty-space-responsive"></div>
