<div class="container">
  <h1>PIANO KARAOKE</h1>
  <h4>INFO</h4>
  <p>
    We’ve got something really special for you here. A karaoke night with a difference. The Singalong Speakeasy is a night like no other. Our incredibly talented sight-reading pianist will play whatever you like for the most personal and memorable karaoke experience you’ll have. Guaranteed to descend into one enormous singalong by the end of the night.
    Please contact us for more information.
    Website coming soon.
  </p>
</div>
