<div class="banner-container">
  <div class="page-banner banner-image-private">
    <h1 class="page-title title-charity">PRIVATE QUIZZES</h1>
  </div>
</div>

<div class="container">
  <h1>PRIVATE</h1>
  <p>
  Info

Looking to throw a party and need the perfect ice breaker to get things going? There’s nothing like a fantastic quiz to get things really cooking! We’ve hosted quizzes at weddings, birthday parties, floating down the Thames, even at a funeral. If you want to give your private function some real pop, drop us a line.

Contact us for rates and further details.
</p>
</div>
