<div class="banner-container">
  <div class="page-banner banner-image-sustainability">
    <h1 class="page-title title-sustainability">SUSTAINABILITY</h1>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <h2 class="text-align-center">CARBON PAWPRINT</h2>
</div>

<div class="container container-anchor-top">
  <div class="text-bubble text-bubble-peach">
    <p> We take our environmental duties very seriously here at Quiz Dog. Between answer sheets and ink for picture rounds, the carbon footprint of a quiz can expand to those sasquatch prints in the snow.
        We decided to make a difference and put everything online. No easy task given the access to Google, but with our anti-cheating measures, we are confident we have the greenest events company on the market. We are always looking for ways in which we can go even further with lessening our environmental impact and are striving for complete carbon neutrality.
    </p>
    <p class="empty-line"></p>
    <p> One of the ways in which we are doing our bit for mother earth is by promising to plant a tree for every corporate client we have playing the quiz. This is done in partnership with the amazing people over at Ecologi (a B-Corps certificate company).
        Click here to see how many trees we’ve planted!
    </p>
  </div>
</div>

<div class="sustainability-mobiles-img">
  <%= image_tag("sustainability/14.jpg", alt: "people quizzing on their phones") %>
</div>

<hr class="dividing-line-black">

<div class="container d-flex justify-content-center">
  <h2>PLANTING TREES</h2>
</div>

<div class="container justify-content-center">
  <div class="row">
    <div class="col-9 col-md-8">
      <div class="text-bubble text-bubble-peach">
        <p>
          One of the ways in which we are doing our bit for mother earth
          is by promising to plant a tree for every corporate client we
          have playing the quiz. This is done in partnership with the
          amazing people over at Ecologi (a B-Corps certificate
          company). Click here to see how many trees we’ve planted!
        </p>
      </div>
    </div>
    <div class="col-3 col-md-4">
      <%= image_tag("sustainability/27.png", alt: "ecologi logo", class: "ecologi-logo") %>
    </div>
  </div>
</div>

<div class="empty-space-responsive"></div>
