<div class="container">
  <h1>VIRTUAL</h1>
  <p>
    How it works? - Corporate/private
    Just because your workforce is spread across the world is absolutely no reason why you can’t enjoy a good quiz. We have hosted huge events of well over a 200 people on Zoom and lockdown meant we had plenty of time to hone the event to a fine art!
    All you need is a computer and a camera, and away we go.
    We also have options of hybrid quizzes where half the contestants are there in person, the other half playing online.
    For more information, please contact us.
  </p>
</div>
