<%# top section with banner and punters text %>
<div class="banner-container">
  <div class="page-banner banner-image-find-us">
    <h1 class="page-title title-find-us">FIND US</h1>
  </div>
</div>

<%# MAP and VENUE CARDS %>
<div class="container-lg d-flex flex-column align-items-center" data-controller="select-card">
  <h1 class="d-flex justify-content-center">OUR PUBS</h1>
    <div id="map" class="mb-4"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <div class="container-venues-map d-flex pt-2 pl-3 pr-3 pb-3">

    <div class="cards">
      <% if @venues.empty? %>
        <p>No venues yet.</p>
      <% else %>
        <%= render partial: 'venue', collection: @venues, locals: { show_edit_delete_buttons: false } %>
      <% end %>
    </div>
  </div>
</div>
