
.btn-red {
  background-color: $quiz-dog-red;
  border-radius: 5px;
  color: #fff;
  font-family: $lovelo;
  line-height: 20px;
  overflow: visible;
  padding: 14px 0px 10px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  width: 270px;
  transition: all 0.2s;
}

.btn-red:focus {
  text-decoration: none;
}

.btn-red:hover {
  text-decoration: none;
  background-color: #750d10;
}

.btn-create {
  margin: 10px 0;
}

.button-rounded {
  border-radius: 20px;
  background-color: #008080;
  font-weight: bold;
}

.button-rounded-red {
  border-radius: 20px;
  background-color: $quiz-dog-red;
  font-weight: bold;
}
