
.btn-red {
  background-color: $quiz-dog-red;
  border-radius: 5px;
  color: #fff;
  font-family: $lovelo;
  line-height: 20px;
  overflow: visible;
  padding: 14px 0px 10px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  width: 270px;
  // transform: scale(1);
  transition: all 0.2s;
}

.btn-red:focus {
  text-decoration: none;
}

.btn-red:hover {
  text-decoration: none;
  background-color: #750d10;
  // transform: scale(1.1);
}

// @media (min-width: 768px) {
//   .btn-red {
//     padding: 14px 50px 10px;
//   }
// }

// buttons for the ADMIN SECTION
.btn-create {
  margin: 10px 0;
}
