.card-venue-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.card-venue {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 240px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 2rem;
}

.card-venue img {
  height: 65%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  object-fit: cover;
  position: relative;
}


.card-venue-title {
  align-items: center;
  position: absolute;
  margin-top: 120px;


  h6 {
    background-color: $yellow;
    padding: 5px 10px 0px;
    border-radius: 5px;
  }
}

.card-venue-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;

  .venue-day-time {
    font-weight: bold;
  }
}

.card-venue-info .venue-address,
.card-venue-info .venue-phone-number,
.card-venue-info .venue-hosted-by {
  font-size: small;
  color: grey;
}


.card-venue-info p {
  margin: 0px;
  // margin-left: 2px;
  display: flex;
  align-items: center;
}
