.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.hamburger-menu {
  padding: 0px 10px 0px 10px;
  // border: 1px solid grey;
}

.navbar-logo {
  width: 6.5rem;
}
