// VENUES
.venue-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 240px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 2rem;
  transform: scale(1);
  transition: all 0.4s;
}

.venue-card img {
  height: 65%;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  object-fit: cover;
  position: relative;
}

.venue-card-title {
  align-items: center;
  position: absolute;
  margin-top: 120px;


  h6 {
    background-color: $yellow;
    padding: 5px 10px 0px;
    border-radius: 5px;
  }
}

.venue-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;

  .venue-day-time {
    font-weight: bold;
  }

  p {
    margin: 0px;
    display: flex;
    align-items: center;
  }
}

.venue-card-info .venue-address,
.venue-card-info .venue-phone-number,
.venue-card-info .venue-hosted-by {
  font-size: small;
  color: grey;
}

// class for selected card
.selected {
  opacity: 1;
  transform: scale(1.1);

  .venue-card-title h6 {
    font-size: large;
    background-color: $orange;
}}

.notselected {
  opacity: 0.5;
  transform: scale(0.9);
}
