// Graphical variables
@import "config/index";

// External libraries
@import "bootstrap";
@import "font-awesome";

//  Your Mixins
@import "mixins/media";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
}

.page-title {
  color: $yellow;
  position: absolute;
  top: 2rem;
  left: 3rem;
  font-size: 4rem;
}

.page-banner {
  height: 40vh;
  background-size: cover;
  background-position: center bottom;
}
